body{
    background-color: aqua;
    min-height: 98%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    margin: 3px;
    border: dotted black 3px;
    min-height: 98%;
}
#O-pos{
    position: fixed;
    line-height: unset;
}
p{
    line-height: 2em;
}
#p1{
    margin: 0;
    line-height: unset;
    text-align: center;
}
#X{
    position: relative;
    top: 450px;
    left: 500px;
}
#Opic{
    position: fixed;
    top: 50px;
    left: 600px;
}
#div1{
    top: 0;
    left: 80%;
    position:fixed;
    float: right;
    visibility: hidden;
    height: 200px;
    width: 200px;
    background-color: rgba(76, 175, 80, 0.3);
    border: solid 1px black;
    overflow: auto;
    border-radius: 35px;
    margin-top: 11px;
}
#div1 h3{
    text-align: center;
    margin-bottom: 2px;
    padding: 0;
}
#end{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: fixed;
    height: 500px;
    width: 600px;
    background-color: rgba(76, 175, 80, 0.3);
    margin-right: auto;
    margin-left: auto;
    border: black solid 3px;
    border-radius: 30px;
}
#end img{
   max-width: 80%;
   max-height: 80%;
}
